extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container.m-0
            form.table(action='/admin/sign-in', method='post')
                .row.m-3.form
                    .col-lg
                        .h3 Enter Credentials:
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputUID1.form-control(type='text', placeholder='Username', name='username')
                        .form-group.row
                            .col-sm-10
                                input#inputPassword1.form-control(type='password', placeholder='Password', name='password')
                    .col-lg
                        button.btn.btn-primary.btn-lg(type='submit') Login
                    .col-lg.text-center
            form#studentSignUpForm.row.m-3.form(action='/admin/sign-up', method='post')
                .col-lg.text-center
                    .h2 New Admin:
                .col-lg.text-center
                    .form-group.row
                        .col-sm-10
                            input#inputUID2.form-control(type='text', placeholder='Username', name='adminUsername')
                    .form-group.row
                        .col-sm-10
                            input#inputEmail2.form-control(type='password', placeholder='Email', name='adminPWD')
                .col-lg.text-center
                    button.btn.btn-primary.btn-lg(type='submit') Register