extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container
            form.form(action='/admin/add/inst/', method='POST')
                .row.m-3
                    .col-lg
                        .h3 Add Institutions:
                    .col-lg
                        .form-group.row
                            .col-sm-10
                                input#inputUID2.form-control(type='text', placeholder='Name', name='institutionName')
                        .form-group.row
                            .col-sm-10
                                input#inputPassword.form-control(type='password', placeholder='Password', name='institutionPWD')
                        .form-group.row
                            .col-sm-10
                                input#inputPassword2.form-control(type='password', placeholder='Confirm Password', name='password2',)
                    .col-lg.text-center
                        .form-group.row
                            .col-md
                                input#inputAddress.form-control(type='text', placeholder='Address', name='institutionStreetAddr')
                        .form-group.row
                            .col-sm-8
                                input#inputZip.form-control(type='text', placeholder='Zipcode', name='institutionZipCD')
                        .form-group.row
                            .col-sm
                                input#inputCity.form-control(type='text', placeholder='City', name='institutionCity')
                            .col-sm
                                input#inputState.form-control(type='text', placeholder='State', name='institutionStateCD')
                .row.m-3
                    .col-lg

                    .col-lg
                        .form-group.row
                            .col-sm-10
                                input#InstitutionUrl.form-control(type='text', placeholder='URL', name='institutionUrl')
                        .form-group.row
                            .col-sm-10
                                input#InstitutionEmail.form-control(type='email', placeholder='Email', name='institutionEmail')
                    .col-lg
                        .form-group.row
                            .col-sm-10
                                input#InstitutionDesc.form-control(type='text', placeholder='Description', name='institutionDesc')
                .row.m-3
                    .col-lg
                    .col-lg
                    .col-lg.text-center
                        button.btn.btn-primary.btn-lg(type='submit') Add