extends ../layout

block content
    .jumbotron
        .h1 #{title}
        if session
            if session.flash
                if session.flash.error
                    .alert.alert-dismissible.alert-danger
                        button.close(type='button', data-dismiss='alert') ×
                        strong Oh snap!
                        a #{session.flash.error[0]} Change a few things up
                        |  and try submitting again.
        .container.m-0
            form.table(action='/admin/sign-in', method='post')
                .row.m-3.form
                    .col-lg
                        .h3 Enter Credentials:
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputUID1.form-control(type='text', placeholder='Username', name='username',  maxlength='45', required='true')
                        .form-group.row
                            .col-sm-10
                                input#inputPassword1.form-control(type='password', placeholder='Password', name='password',  maxlength='45', required='true')
                    .col-lg
                        button.btn.btn-primary.btn-lg(type='submit') Login
                    .col-lg.text-center
            form#studentSignUpForm.row.m-3.form(action='/admin/sign-up', method='post')
                .col-lg.text-center
                    .h2 New Admin:
                .col-lg.text-center
                    .form-group.row
                        .col-sm-10
                            input#inputUID2.form-control(type='text', placeholder='Username', name='adminUsername',  maxlength='45', required='true')
                    .form-group.row
                        .col-sm-10
                            input#inputEmail2.form-control(type='password', placeholder='Password', name='adminPWD',  maxlength='45', required='true')
                .col-lg.text-center
                    button.btn.btn-primary.btn-lg(type='submit') Register