body {
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
}



a {

}

.cali {
    /*background-image: url(../images/California-2.JPG);
     background-size: 1200px;
    /*transform: rotate(180deg);
    resize: both;
*/
}

.no-rot {
    /*transform: rotate(180deg);*/

}