extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container.m-0
            .table
                form.row.m-3.form(action='/student/search/keyword', method='post')
                    .col-lg.text-center
                        .h3 Keyword Search:
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputKeyword.form-control(type='text', placeholder='Keyword', name='keyword',  maxlength='45')
                    .col-lg
                        button.btn.btn-primary.btn-lg(type='submit') Search
                form.row.m-3.form(action='/student/search/location', method='post')
                    .col-lg.text-center
                        .h3 Location Search:
                        .h4 Enter an address to find nearby institutions.
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputLocation.form-control(type='text', placeholder='Location', name = 'location',  maxlength='45')
                    .col-lg
                        button.btn.btn-primary.btn-lg(type='submit') Search