extends ../layout

block content
    .jumbotron
        .h1 #{title}
        .container.m-0
            .table
                .row.m-3.form
                    .col-lg.text-center
                        .h3 Keyword Search:
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputKeyword.form-control(type='text', placeholder='Keyword')
                    .col-lg
                        a.btn.btn-primary.btn-lg(href='/student/search/keyword') Search
                .row.m-3.form
                    .col-lg.text-center
                        .h3 Location Search:
                    .col-lg.text-center
                        .form-group.row
                            .col-sm-10
                                input#inputLocation.form-control(type='text', placeholder='Location')
                    .col-lg
                        a.btn.btn-primary.btn-lg(href='/student/search/location') Search